*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/26412.jpg);
}
.card{
    display: flex;
    background-color: rgb(10, 26, 26);
    border-radius: 200px;
    width: 800px;
    height: 400px;

}

.card-left{
    background-color: rgb(218, 126, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-left img{
    max-width: 100%;   
     max-height: 100%;
     position: relative;
     justify-content: center;
     align-items: center;


}
.card-right{
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-right h3{
    color:rgb(218, 126, 7) ;
    margin-bottom: 20px;
}
.card-right h1{
    margin-bottom: 20px;
}
.card-right .price{
    font-size: 20px;
    margin-bottom: 20px;
}
.card-right .price span{
    text-decoration: line-through;
    color: white;
    margin-left: 10px;
    font-size: 17px;
}
.size span{
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    margin-bottom: 20px;
}
.colors{
     margin: 20px 0;

}
.color{
   
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
}
.color.yellow{
    background-color: yellow;
}
.color.black{
    background-color: black;
}
.color.blue{
    background-color: blue;
}
.color.white{
    background-color: white;
}

.btn{
    margin-right: 20px;
    border:1p solid ;
    border-radius: 5px;
    font-weight: bold;
    
} 
.btn button:first-child{
    background-color: rgb(218, 126, 7);
    color:white;
    width: 89px;
}

.btn button:last-child{
    background-color: rgb(16, 46, 46);
    color: white;
    border: 1px solid white;
    width: 89px;
}

@media (max-width:530px){
    .size span{
        display:flex;
        padding:6px;
        /* border:none; */
        margin-bottom: 4px;
        width: 36px;
    }
    .card{
        height: 600px;
    }
    .color{
        margin: 0 auto;
    }
}

@media (max-width:370px){
    h3, h1{
        font-size: x-large;
    }
    .card-left{
        display: flex;
        height: 100px;
        align-content:flex-start  ;
    }
    .card-right{
        display: flex;
        align-content:flex-start  ;

    }
    .card{
        border-radius: 30px;
    }
}